{# templates/admin/astreignable/index.html.twig #}
{% extends 'admin/dashboard.html.twig' %}
{% block body %}
  <h2>Astreignables</h2>
  <a href="{{ path('admin_astreignable_new') }}">Créer un astreignable</a>
  <ul>
    {% for i in items %}
      <li>
        {{ i.nom }} {{ i.prenom }}
        [<a href="{{ path('admin_astreignable_show',{id:i.id}) }}">Voir</a>]
        [<a href="{{ path('admin_astreignable_edit',{id:i.id}) }}">Éditer</a>]
      </li>
    {% endfor %}
  </ul>
{% endblock %}
